<body>
  <div class="form-div">

    <div class="info-div">
      Log In 
    </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label "Email/UserName" %><br />
    <%= f.text_field :login, autofocus: true, autocomplete: "email/username" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
</div>
</body>

<%= render "devise/shared/links" %>

